@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem 1rem;
  font-weight: normal;
}

footer {
  padding: 10px;
  font-size: smaller;
  background-color: black;
  box-sizing: border-box;
  width: 100%;
}
footer a {
  color: white;
}

a,
.green {
  text-decoration: none;
  color: #AB1F24;
  transition: 0.4s;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
    flex-direction: column;
  }
}
